<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBQ8IfURJ7UlhEi5TP6-XjJD2pNdLjWmZI</string>
	<key>GCM_SENDER_ID</key>
	<string>742699315533</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ios.app.kaifq8</string>
	<key>PROJECT_ID</key>
	<string>kaif-38b78</string>
	<key>STORAGE_BUCKET</key>
	<string>kaif-38b78.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:742699315533:ios:65f1e85a0b0747c959c704</string>
</dict>
</plist>